@media screen and (max-width: 576px) {
    h3 {
         font-size: 2.4em;
        margin: 6px;
    }
    .end .promo-sticker {
        margin-top: -2em;
        margin-right: -2em;
        width: 8.5rem;
        padding: .5em;
    }
    .end .promo-sticker:after {
        display: none;
    }
    .post-slider {
        overflow: hidden;
    }
    .form-block-mobile-footer {
        margin-bottom: 100px;
    }
    .social_size_mobile_footer {
        font-size: 24px;
        color: dodgerblue;
        list-style: none;
        line-height: initial;
        margin-left: 13px;

    }
    .logo-mobile-footer img {
        position: relative;
       bottom: 19px;
    }
    .mobile-social-menu {
        display: flex;
        padding: 0;
    }
   .description-social-mobile-footer {
    display: flex;
    flex-basis: 38%;
    flex-wrap: wrap;
    box-sizing: content-box;
}
    .trainers__info {
        line-height: 25px;
    }
    .light-border-block {
        line-height: 25px;
    }
    .light-border-block__title {
        width: auto;
        position: absolute;
        padding: 0 .5em;
        background: linear-gradient(69deg,#F9FBFF,#f1f5f9);
        top: -2em;
    }
}